h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
.flex {
    display: flex;
    font-size: 0.7em;
}

.end {
margin-left: auto;

}
    
.deset {
    width: 14%;
}

/*li:last-child {
    color: green;

}*/
